:root {
  --border-color-light: #B3B2B2;
  --background-color-light: #F5F5F5;
  
  --font-color-dark: #222222;
}

#root {
  margin: 0;
  box-sizing: border-box; 
  font-family: 'SF Pro';
  font-style: normal;
  height: 100vh;
  padding: 40px;
}
body {
  background: var(--background-color-light);
  font-family: 'SF Pro';
  font-style: normal; 
}
.template-container {
  width: 100%;
  height: 100%;
}
.button-container {
  display: flex;
  border: 1px solid #000000;
  padding: 20px;
  align-items: center;
  justify-content: space-around;
}
.button-container.range-container {
  flex-direction: column !important;
}