.sizing-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 10px 0;
    gap: 10px;
    flex-wrap: wrap;
  }
  .col-6.frame-selection {
    width: 48.5% !important;
  }
  label.col-6.frame-selection {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0px 10px;
    cursor: pointer;
}
label.col-6.frame-selection p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}
label.col-6.frame-selection span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #8F8F8F;
}
label.col-6.frame-selection.active {
  border: 1px solid #222222;
}