.btn-primary { font-size: 16px !important; }

// For image preview customization
.image-wrapper {
  position: relative;

  .image {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .frame {
    position: absolute;
    border: 2px solid #000;
    left: 50%;
    top: 50%;
    height: 200px;
    width: 250px;
    object-fit: cover;
  }
}

.modal {
  animation: fade-in 0.3s ease-in-out;

  .modal-dialog {
    max-width: 586px;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-header {
    padding: 24px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-family: 'SF Pro';
      font-style: normal;
      font-weight: 510;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      color: #222222;
    }

    .close-button {
      height: 32px;
      width: 32px;
      padding: 0;
      background: none;
      border: none;

      .icon {
        height: 32px;
        width: 32px;
      }
    }
  }

  .modal-body {
    padding: 0 24px;

    .loading_container {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 24px 0;
    }

    .image-wrapper {
      position: relative;
      height: 536px;

      .image {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      .frame {
        position: absolute;
        border: 2px solid #000;
        left: 50%;
        top: 50%;
        height: 200px;
        width: 250px;
        object-fit: cover;
      }

      .colors-container {
        position: absolute;
        bottom: 24px;
        left: 24px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .color-box {
          width: 24px;
          height: 24px;
          margin-right: 8px;
          border-radius: 4px;
          background: #F27121;
        }

        .color-box.active {
          box-shadow: 0px 0px 0px 2px #FFFFFF;
        }
      }
    }
  }

  .modal-footer {
    padding: 16px 24px 24px 24px;
    border: none;
    display: flex;
    justify-content: flex-start;
    gap: 16px;

    .card {
      margin: 0;
      position: relative;
      background: rgba(127, 127, 127, .6);
      border: none;
      border-radius: 8px;
      width: 122px;
      height: 122px;
      cursor: pointer;

      .thumbnail {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        mix-blend-mode: overlay;
      }

      .thumbnail.active {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        mix-blend-mode: unset;
      }
    }

    .thumbnail-button {
      padding: 0;
      margin: 0;
      border: none;
      width: 114px;
      height: 114px;

      .thumbnail {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        height: 100px;
        width: 100px;
      }
    }
  }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal-title {
    font-size: 24px;
    line-height: 32px;
    color: var(--bs-primary);
    font-weight: 510;
    text-align: center;
    margin-bottom: 10px;
}

.modal-subtitle {
    font-size: 16px;
    line-height: 24px;
    color: var(--bs-light);
    font-weight: 410;
    text-align: center;
}

.mobile-layout {
  height: 100%;
  overflow-y: scroll;
  .modal-dialog {
    width: 100%;
    margin: 0;
    height: 100%;
    .modal-content {
      height: 100%;
      border-radius: 0px;
      .modal-body {
        height: 60%;
        padding: 0px;

        .loading_container {
          width: 100%;
          display: flex;
          justify-content: center;
        }

        .image-wrapper {
          height: 100%;
          position: relative;
          img {
            border-radius: 0px;
          }
          .close-button {
            padding: 0;
            border: none;
            z-index: 2;
            background: transparent;
            right: 16px;
            top: 16px;
            position: absolute;
          }
        }
      }
      .modal-footer {
        width: 100%;
        flex-wrap: unset;
        overflow: auto;
        padding: 16px;
        .template-contents {
          width: fit-content;
          flex-direction: row;
          display: flex;
          border: none;
          display: flex;
          justify-content: flex-start;
          gap: 16px;
        }
      }
    }
  }
}