.customizer-tool-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 920px;
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    border-radius: 8px;
}
.canvas-container {
    box-sizing: border-box;
    width: 100%;
    height: 920px;
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    border-radius: 8px;
}
.customizer-container {
    display: flex;
    gap: 10px;
}
.col-8.canvas-container {
    flex: 0 0 auto;
    width: 66.66666667% !important;
}
@media (max-width: 980px) {
    .customizer-container{
        display: flex;
        flex-direction: column-reverse;
    }
    .col-8.canvas-container {
        flex: 0 0 auto;
        width: 100% !important;
    }
    .input-container {
        width: 100%;
    }
    .canvas-container {
        height: 100%;
    }
}

/* Accordion CSS */
p.upload-desc {
    font-family: 'SF Pro' !important;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #B3B2B2;
    margin-bottom: 0px;
    margin-top: 8px;
}
.drag-and-drop-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.alert-container {
  margin: 5px 0;
}
.alert-container .alert-heading.h4 {
  margin: 0;
  font-size: 14px;
}
.alert-heading.h4 p {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  line-height: 18px;
}
.accordion-button:focus {
  border-color: transparent;
  box-shadow: none;
  outline: 0;
}
.upload-container {
  background: #F5F5F5;
  border: 1px dashed var(--border-color-light);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 250px;
  background: #F5F5F5;
  border: 1px dashed #B3B2B2;
  border-radius: 8px;
}
.accordion  {
  height: 100%;
  background: #FFFFFF;
  border: 1px solid #EFEFEF;
  border-radius: 8px;
  padding: 0px;
  font-family: 'SF Pro';
  font-style: normal;
  font-weight: 510;
  font-size: 16px;
  line-height: 24px;
  color: #B3B2B2;
}
.alert-container {
  display: flex;
  height: 40px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(235, 87, 87, 0.1);
  border-radius: 8px;
}
.alert-container p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  gap: 8px;
  box-sizing: border-box;
  color: #EB5757;
  font-style: normal;
  font-weight: 510;
  font-size: 16px;
  line-height: 24px;
}
.upload-wave-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%; 
}
.accordion-upload-container {
  display: flex;
  flex-direction: column;
  height: 250px;
}
.filename {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  gap: 10px;
}
.filename p {
  width: 100%;
  margin: 0;
}
button.accordion-button {
  box-shadow: none;
  gap: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--font-color-dark) !important;
  background-color: transparent !important;
  padding: 20px 10px;
}
.filename img:last-child:hover {
  box-shadow: 0px 0px 10px 0px #a3a3a3;
  border-radius: 50%;
  cursor: pointer;
}
.plus-icon {
  width: 30px;
  margin-bottom: 10px;
}
.frame-selection.active {
  position: relative;
}
.frame-selection.active::after {
  content: "";
  width: 18px;
  height: 18px;
  background: url(/src/assets/icons/template-selected.png);
  background-position: 100%;
  background-size: 100%;
  position: absolute;
  top: 5px;
  right: 2px;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  border-radius: 50px;
}
.col-6.frame-selection.active::after {
  border: 1px solid #F6F6F6;
}
.frame-selection.false::after {
  content: "";
  width: 18px;
  height: 18px;
  background-position: 100%;
  background-size: 100%;
  position: absolute;
  top: 5px;
  right: 2px;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  border-radius: 50px;
}
.frame-selection input {
  visibility: hidden;
  position: absolute;
}
.material-and-sizing-container p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 510;
  font-size: 16px;
  line-height: 17px;
}

/* Canvas Pane CSS */
.canvas-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    border-radius: 8px;
}
.canvas-header {
    height: 76px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px 0px;
    gap: 24px;
    justify-content: space-between;
}
.canvas-header p {
    font-family: 'Inter';
    margin-bottom: 0px;
    font-style: normal;
    font-weight: 510;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
}
.canvas-content {
    height: 650px;
    width: 100%;
    /* background: url(/src/assets/img/temp2.png); */
    background: #625f5f;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;  
}
.canvas-footer {
    height: 200px;
    width: 100%;
}
.canvas-component {
    width: 100%;
    height: 100%;
}
.canvas-footer.mobile {
    display: none;
}
.canvas-text {
    border: 1px dashed #FFFFFF;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 10px 40px;  
}
.canvas-text.title {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 61px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.canvas-text.title h1 {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 61px;
    
}
.canvas-text.subtitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 8px 16px;
    gap: 10px;
}
.canvas-content.desktop.option_1 {
  background: #002E57;
}
.canvas-content.desktop.option_2 {
  background: #787437;
}
.canvas-content.desktop.option_3 {
  background: #007B62;
}
.canvas-content.mobile.option_1 {
  background: #F27121;
}
.canvas-content.mobile.option_2 {
  background: #3D9984;
}
.canvas-content.mobile.option_3 {
  background: #D6B0FF;
}
@media (max-width: 980px) {
    .canvas-content {
        height: 450px;
        gap: 10px;
    }
    .canvas-container {
        height: 100%;
        padding: 10px;
        border-radius: 8px;
    }
    .canvas-footer.mobile {
        display: flex;
        height: 100%;
        position: relative;
        bottom: 0px;
    }
    .template-color {
        margin: 0;
        position: absolute;
        top: -40px;
        left: 10px;
        gap: 10px;
    }
    .canvas-footer.mobile .frame-color-selection.frame-color {
        height: 30px;
    }
    .canvas-footer.desktop {
        display: none;
    }
    .mobile label.col-3.frame-color-selection.frame-color.active img {
        border: 3px solid #fff;
        box-shadow: 0px 0px 10px 0px #fff;
        border-radius: 7px;
        box-sizing: border-box;
    }
    .mobile label.col-3.frame-color-selection img {
        border-radius: 5px;
        border: 1px solid #fff;
    }
    .canvas-text.title h1 {
        font-size: 30px;
    }
}
/* Order Review CSS */
ul.order-preview-container {
  padding: 0;
  margin: -10px;
}
ul.order-preview-container li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 10px;
  justify-content: space-between;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #9C9C9C;
  border-bottom: 1px solid #EFEFEF;
}
ul.order-preview-container li strong {
  color: #403F3F;
  font-style: normal;
  font-weight: 510;
  font-size: 14px;
  line-height: 24px;
}
/* End of Order Review CSS */

.upload-header.file-uploaded button::after,
h2.material-and-sizing-header.material-sizing-selected button::after {
  background: url(/src/assets/icons/accordion-check.png);
  width: 20px;
  height: 20px;
  background-size: contain;
  transform: rotate(0deg);
}
.upload-header.file-uploaded .upload-desc {
  display: none;
}